*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;         /*Box-Model*/
    
}
body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;

}
.nav__brand{
    width: 100px;
}

.nav__logo{
    width: 100%;
}
.nav__item{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%

    );
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
@media (min-width: "768px") {
    .nav{
        justify-content: space-between;
        padding: 2px 30px;
    }
}
@media (min-width: "1020px") {
    .nav__brand{
        width: 150px;
    }
    .nav__item{
        padding: 200px;
        font-size: 20px;
    }
}
.nav__item:hover{
    border: 2px solid pink;
}


